.offer-manicure {
  display: grid;
  row-gap: 20px;

  &__h3 {
    @include reset-p-h;
  }

  &__h3-link {
    @include reset-link;
  }

  &__list {
    @include reset-list;
  }

  &__item {}

  &__img-link {
    @include reset-link;
  }

  &__img {
    @include reset-img;
    display: none;
  }

  &__img-1 {
    display: block;
  }

  &__img-2 {}

  &__img-3 {}

  &__img-4 {}

  &__img-5 {}

  &__img-6 {}
}
